
@{
    ViewData["Title"] = "Category";
}
@model IEnumerable<Category>
<h1>Category</h1>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<a asp-action="CreateCategory">Add new category</a>
<table class="table">
    @foreach (Category p in Model)
    {
        <tr>
            <td><a asp-action="EditCategory" asp-controller="Home" asp-route-id="@p.Id">@p.Name</a></td>
            <td><a asp-action="DeleteCategory" asp-controller="Home" asp-route-id="@p.Id">Delete</a></td>
        </tr>
    }
</table>
<font color="red" size="5">@ViewBag.Message</font>
