@using ProjectList.Models
@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Project>
<h1>ProjectList</h1>
<a asp-action="Create">Add new project</a>
<table class="table">
    @foreach (Project p in Model)
    {
    <tr>
        <td>@p.Name</td>
        <td>@p.Price</td>
        <td>@p.Category.Name</td>
        <td>@p.Description</td>
        <td><a asp-action="Edit" asp-controller="Home" asp-route-id="@p.Id">Edit</a></td>        
    </tr>        
    }
</table>